article, aside, footer, header, nav, section {
    display: block;
}
.content {
  width: 1250px;
  margin: 0 auto;
  padding: 0 25px;
}
nav {
  display: block;
  height: 45px;
}
nav>div {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  position: fixed;
  -ms-align-items: center;
  align-items: center;
  width: 1200px;
  height: 45px;
  background-color: #fbfbfb;
  border-bottom: 1px solid  #ededed;
  z-index: 99;
}
.nav-l ol {
  width: 340px;
  margin-left: 15px;
  display: flex;
  justify-content: flex-start;
}
.nav-l li svg {
  vertical-align: -.15em;
  margin: 0 10px;
  transform: rotate(180deg);
  /*箭头指向改变*/
}
.nav-l ol li {
  font-size: 14px;
  font-weight: 700;
}
.nav-l li.li-s {
  font-weight: 400;
}
.nav-m {
  position: relative;
  height: 45px;
  font-size: 14px;
}
.nav-m ul {
  width: 550px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  height: 100%;
  line-height: 42px;
}
.nav-m ul li {
  transition: color .3s,font-weight .3s;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}
.nav-m ul li.active{
  border-bottom: 2px solid #4d70ff;
  font-weight: 700;
}
.main {
  margin: 30px auto 0;
  display: flex;
  justify-content: space-between;
}
aside {
  display: block;
}
aside.c-l {
  width: 280px;
}
.c-l section, .c-r section{
  background: #fff;
  border-radius: 3px;
  width: 280px;
}
.c-l .img {
  width: 250px;
  height: 170px;
  margin: 0 auto;
  position: relative;
  top: -7px;
}
.c-l img {
  border-radius: 2px;
}
main {
  width: 610px;
}
aside.c-r {
  width: 280px;
}
div.img-icon {
  position: absolute;
  left: 0;
  top: 25px;
  font-size: 13px;
  background: #4d4d4d;
  text-align: center;
  height: 29px;
  color: #fff;
  line-height: 29px;
  width: 58px;
  border-radius: 0 72px 72px 0;
}
div.img-bar {
  position: absolute;
  left: 0;
  bottom: 10px;
  height: 20px;
  width: 100%;
  display: flex;
  line-height: 20px;
  font-size: 14px;
  text-align: center;
  text-shadow: 1px 1px 1px #000;
}
.col {
  width: 50%;
  height: 100%;
  color: #fff;
  position: relative;
}
.col b {
  font-weight: bolder;
}

div.info {
  padding: 0 20px 15px;
}
.info h2 {
  height: 56px;
  overflow: hidden;
  font-size: 20px;
  color: #2e2e2e;
  word-break: break-all;
  font-weight: 400;
  margin-top: 1px;
  margin-bottom: 5px;
  text-align: center;
  line-height: 56px;
}
.info .owner .ava {
  margin-right: 14px;
  height: 34px;
  width: 30px;
  display: block;
  float: left;
}
.owner img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.owner .hua {
  margin-left: 34px;
  height: 34px;
}
.info .nick-name {
  font-size: 14px;
  color: #2e2e2e;
  height: 16px;
}
.since {
  font-size: 12px;
  color: #969696;
  margin-top: 2px;
}
.owner-info {
  margin: 15px 0;
  font-size: 16px;
  color: #4d4d4d;
  line-height: 25px;
  overflow-wrap: break-word;
}
.members-title {
  margin-bottom: 5px;
  font-size: 12px;
  color: #969696;
}
.member-list {
  display: inline-flex;
  margin-right: -5px;
  cursor: pointer;
}
.member-list .item {
  flex-shrink: 0;
  margin-right: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
}
.item.last {
  line-height: 30px;
  font-size: 12px;
  text-align: center;
  color: #fff;
  background-color: #4d70ff;
}

main .avator-s {
  width: 45px;
  position: sticky;
}
.circle {
  border-radius: 50%;
}
.message-box {
  margin-bottom: 10px;
}
.message {
  display: flex;
  justify-content: space-between;
}
.container {
  width: 550px;
  min-height: 180px;
}
.paper {
  background: #fff;
  border-right: 3px;
}
.textarea {
  width: 100%;
  min-height: 120px;
  padding: 10px;
  resize: none;
  font-size: 14px;
  color: #4d4d4d;
  line-height: 22px;
}
.toolbar {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  margin: 15px;
}
div.toolbar-l {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
}
.toolitem {
  padding: 4px;
  margin-right: 16px;
  cursor: pointer;
}
.toolbar-r button {
  background: #4d70ff;
  color: #fff;
  height: 35px;
  min-width: 82px;
  line-height: 35px;
  font-size: 14px;
  padding: 0 26px;
  border-radius: 2px;
  cursor: pointer;
}
.article {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}
.article section {
  background: #fff;
  border-radius: 3px;
  width: 550px;
  height: 1000px;
}
.c-r section {
  background: #fff;
  border-right: 3px;
}
.c-r ul li a {
  width: 280px;
  height: 64px;
  padding: 12px 10px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
}
a.active {
  background: #f1f3f4;
  cursor: pointer;
}
.r-ava {
  width: 60px;
  height: 40px;
}
.r-title {
  margin-left: 8px;
  flex-grow: 1;
  min-width: 0;
}
.create-circle {
  text-align: center;
  font-size: 15px;
  color: #4d70ff;
  font-weight: 700;
  padding: 20px 0;
  cursor: pointer;
}
.icon-circle {
  display: inline-block;
  width: 15px;
  height: 15px;
  line-height: 13px;
  position: relative;
  top: -1px;
  text-align: center;
  border-radius: 50%;
  background: #4d70ff;
  color: #fff;
}
.c-r nav {
  height: 100%;
}
