.a-all {
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}
.iconfont, .tb-icon {
    font-family: iconfont!important;
    font-size: 14px;
    font-style: normal;
    display: inline-block;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.tb-loading {
    background-color: #FFF;
}
.loading, .tb-loading {
    background-image: url(http://img.alicdn.com/tfs/TB1BlobNFXXXXXyXXXXXXXXXXXX-34-34.gif);
    background-repeat: no-repeat;
    background-position: center;
}
@media screen and (max-width: 1189px) {
  .screen-outer {
    width: 990px;
  }
  .main {
    width: 700px;
    .core {
      width: 492px;
      overflow: hidden;
      .promo, .tmall {
        left: -14px;
      }
      .tmall-hd {
        width: 492px;
        position: relative;
        left: 14px;
      }
    }
  }
}
.screen-outer {
  width: 1190px;
  margin: 0 auto;
  height: 638px;
  margin-top: 10px;
}

.tbh-service {
  position: relative;
  float: left;
  width: 190px;
  margin-top: -44px;
}
.J_Service {
  height: 555px;
  position: relative;
  background-color: #FF6537;
  font-size: 14px;
  color: #fff;
  width: 190px;
}
.tb-bg, .weight.tb-bg {
  background-repeat: repeat-x;
  background-image: linear-gradient(-45deg,#ff5000,#ff6f06);
}
.service-hd {
  height: 33px;
  line-height: 33px;
  text-indent: 10px;
  position: relative;
  a {
    color: #fff;
    display: block;
    width: 190px;
  }
  .tb-icon {
    position: absolute;
    right: 8px;
    font-size: 16px;
    top: 1px;
  }
}
.service-bd {
  height: 482px;
  li {
    line-height: 30px;
    height: 30px;
    padding: 0 10px;
    position: relative;
    font-size: 13px;
    .service-icons {
      color: #FF905B;
      font-size: 18px;
      width: 18px;
      vertical-align: super;
    }
    span {
      display: inline-block;
      height: 27px;
      overflow: hidden;
      width: 134px;
      vertical-align: top;
      a {
        color: #FFF;
        font-weight: 700;
      }
    }
    .service-arrow {
      position: absolute;
      right: 10px;
      font-size: 12px;
      font-weight: 700;
    }
  }
}
.service-ft {
  height: 40px;
  background-color: #FFF;
  img {
    width: 190px;
    height: 40px;
  }
}

.main {
  float: left;
  width: 900px;
  height: 100%;
  .core {
    margin-left: 10px;
    float: left;
    width: 520px;
    .tbh-promo, .tbh-tmall {
      width: 520px;
    }
    .promo {
      position: relative;
      width: 520px;
      height: 280px;
      overflow: hidden;
      &:after, &:before {
        content: " ";
        display: table;
      }
      &:after {
        height: 0;
        line-height: 0;
        visibility: hidden;
        clear: both;
      }
    }
    .tmall {
      position: relative;
      width: 520px;
      height: 230px;
      margin-top: 1px;
      overflow: hidden;
      .tmall-hd {
        font-size: 14px;
        height: 26px;
        border-bottom: 2px solid #c12c26;
        position: relative;
        background-color: #f1f1f1;
        overflow: hidden;
        h2 {
          display: inline;
          border-bottom: 2px solid #000;
          width: 58px;
          line-height: 32px;
          font-weight: 700;
          padding-left: 48px;
          background: url(http://g.alicdn.com/s.gif) -4px bottom no-repeat;
          position: relative;
          bottom: -2px;
        }
        em {
          font-size: 12px;
          color: #666;
          margin-left: 6px;
          position: relative;
          bottom: -1px;
        }
        strong {
          position: absolute;
          right: 0;
          bottom: -2px;
          font-family: sans-serif;
          font-size: 12px;
          font-weight: 400;
          i {
            font-style: normal;
            color: #c12c26;
          }
        }
      }
      .tmall-bd {
        width: 520px;
        overflow: hidden;
        height: 201px;
      }
    }
  }
}
